.textArea-change{
    position: absolute;
    width: 48%;
    transition: .3s ease-in-out;
}

.overlay-transition{
    z-index: 1060;
    opacity: .6;
    transition: .2s ease-in-out;
    transform-origin: bottom center;
}


.first-transition{
    opacity: 1;
    z-index: 1070;
    transition: .1s ease-in-out;
}

.overlay-transition-procd{
    z-index: 1070;
    opacity: .6;
    transition: .2s ease-in-out;
    transform-origin: bottom center;
}


.first-transition-procd{
    opacity: 1;
    z-index: 1080;
    transition: .1s ease-in-out;
}

.change-table-row{
    background-color: beige;
}

.change-sigla-row{
    background-color: #dadada;
}

.show-box-siglas {
    transform-origin: 50% 24px 0px;
    opacity: 1;
    transform: scaleY(1);
    width: auto;
    height: auto;
    visibility: initial;
    transition: .2s ease-in-out;
}

.arrow_right_change{
    transform: rotate(90deg);
    transition: .2s ease-in-out;
}



